<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel = "icon" href ="https://cdn-icons-png.flaticon.com/512/831/831311.png?w=740">
    <style>
        {{ source('Styles/header.css') }}
        {{ source('Styles/styles.css') }}
        {{ source('Styles/footer.css') }}

        .form-container {
            padding: 50px 0;
        }

        .form {
            font-size: 15px;
            padding: 10px;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 30px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            border: 0;
            border-radius: 15px;
        }

        .form-container {
            margin: auto;
        }

        .submit-button {
            background: #900C3F;
            color: white;
            width: 100%;
            padding: 10px;
            font-weight: bold;
            font-size: 18px;
            border-radius: 15px;
            border: 0;
            box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
        }

        .submit-button:hover {
            opacity: 0.85;
            cursor: pointer;
        }

        .description-form {
            resize: vertical;
            font-family: sans-serif;
            height: 250px;
        }

        label {
            cursor: default;
            font-weight: bold;
        }

    </style>

</head>
<body>

    <div class="info-container">
        <div class="weather-time-container">
            <span>{{ "now"|date("m.d.Y") }}</span>
            <span>{{ names }}</span>
            <div class="weather-container">
                <span>Cēsis, Latvija</span>
                <div class="weather-temp-container">
                    <img class="weatherIcon" src="{{ weatherAndTime[1] }}" alt="weathericon">
                    <span>{{ weatherAndTime[0] }}°C</span>
                </div>
            </div>
            <div class="social-icon-container">
                <img class="social-media-icon"
                     src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-512.png" alt="social media icon">
                <img class="social-media-icon"
                     src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Linkedin2_svg-512.png" alt="social media icon">
                <img class="social-media-icon"
                     src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-512.png" alt="social media icon">
                <img class="social-media-icon"
                     src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Youtube3_svg-512.png" alt="social media icon">
                <img class="social-media-icon"
                     src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Twitter5_svg-512.png" alt="social media icon">
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="nav-container">
                <a href="http://localhost:8080">
                    <img class="logo" src="https://cdn-icons-png.flaticon.com/512/831/831311.png?w=740" alt="logo">
                </a>
                <nav class="nav">
                    <a href="http://localhost:8080/bizness" class="nav_item">
                        Bizness
                    </a>

                    <a href="http://localhost:8080/sports" class="nav_item">
                        Sports
                    </a>

                    <a href="http://localhost:8080/izklaide" class="nav_item">
                        Izklaide
                    </a>

                    <a href="http://localhost:8080/zinatne" class="nav_item">
                        Zinātne
                    </a>

                    <a href="http://localhost:8080/veseliba" class="nav_item">
                        Veselība
                    </a>

                    <a href="http://localhost:8080/lietotaja-raksti/pievieno-rakstu" class="nav_item">
                        Pievieno rakstu
                    </a>

                    <a href="http://localhost:8080/lietotaja-raksti" class="nav_item">
                        Lietotāju raksti
                    </a>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="form-container">
                <form method="post" action="{{ postAction }}">
                    <label>
                        Virsraksts
                        <input class="form form-title" type="text" name="title"/>
                    </label>
                    <label>
                        Apraksts
                        <textarea class="form description-form" name="description"></textarea>
                    </label>
                    <label>
                        Saite
                        <input class="form form-url" type="text" name="url">
                    </label>
                    <label>
                        Attēla saite
                        <input class="form form-img-url" type="text" name="img-url"/>
                    </label>
                    <button type="submit" class="submit-button">
                        Pievieno rakstu
                    </button>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-data">
                <div class="footer-desc">
                    <span>AS ZIŅAS</span>
                    <span>Piemēra iela 4-8, Rīga, LV-1004</span>
                    <span>+371 12345678</span>
                    <span>piemers@zinas.lv</span>
                </div>

                <div class="copyright">
                    <span class="copyright_desc">Izstrādāja: Jānis Šņoriņš</span>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>